<h6>Links</h6>
<ul class="menu">
	<li><i class="fa fa-google" aria-hidden="true"></i> <a target="_blank" href="https://scholar.google.com/citations?user=d5HZrV4AAAAJ&utm_source=mingtang.me">&nbsp;Google Scholar</a></li>
	<li><i class="fa fa-file-text" aria-hidden="true"></i> <a target="_blank" href="https://www.researchgate.net/profile/Ming_Tang8/?utm_source=mingtang.me">&nbsp;ResearchGate</a></li>
	<li><i class="fa fa-rss" aria-hidden="true"></i> <a target="_blank" href="/feed.xml">&nbsp;RSS Feed</a></li>
</ul>
