{% if site.harmony.google_analytics_key %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://scholar.google.com/citations?hl=en&user=xf0EOBsAAAAJ&view_op=list_works&gmla=AJsN-F6bd_77KyVGWwzdiWTFgf18pAQIR86FbqZzRLAtAIXBypmUUqDBkA25HJoWBi7ODPRYoz3Q5GYSAZgO7j5aAehBB12qCqiProX5uZhWgoxAhzSHiUs"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.harmony.google_analytics_key }}');
</script>
{% endif %}
