---
layout: default
---

<div class="page-content wc-container">
    <div class="post">
        <h1>{{ page.title }}</h1>
        <p class="post-meta">
            {% if page.categories.size > 0 %}
                <span class="categories">
                    {{ page.categories | array_to_sentence_string }}
                </span> |
            {% endif %}
            <span class="post-date">
                {{ page.date | date: "%b %-d, %Y" }}
            </span>
        </p>
        <div class="post">
            {{ content }}
        </div>
        <div class="post-footer">
            <div class="column-1">
                {% assign previous_post = nil %}
                {% for post in site.posts %}
                    {% if post.series == page.series and post.date < page.date %}
                        {% if previous_post == nil or post.date > previous_post.date %}
                            {% assign previous_post = post %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if previous_post %}
                    <a href="{{ previous_post.url | prepend: site.baseurl | prepend: site.url }}"><< Older</a>
                {% else %}
                    <span><< Older</span>
                {% endif %}
            </div>
            <div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
            <div class="column-3">
                {% assign next_post = nil %}
                {% for post in site.posts %}
                    {% if post.series == page.series and post.date > page.date %}
                        {% if next_post == nil or post.date < next_post.date %}
                            {% assign next_post = post %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if next_post %}
                    <a href="{{ next_post.url | prepend: site.baseurl | prepend: site.url }}">Newer >></a>
                {% else %}
                    <span>Newer >></span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

