---
layout: default
---

<div class="page-content wc-container">
	<div class="post">
		<h1>{{ page.title }}</h1>
		<p class="post-meta">
			{% if page.categories.size > 0 %}
			<span class="categories">
			{{ page.categories | array_to_sentence_string }}
			</span> |
			{% endif %}
			<span class="post-date">
			{{ page.date | date: "%b %-d, %Y" }}
			</span>
		</p>
		<div class="post">
			{{ content }}
		</div>
	</div>

	<div class="post-footer">
		<div class="column-1">
			{% if page.previous.categories contains 'research-blog' %}
				<a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Older</a>
			{% elsif page.previous.categories contains 'photography' %}
				<a href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Older (Photography)</a>
			{% else %}
				<span><< Older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a></div>
		<div class="column-3">
			{% if page.next.categories contains 'research-blog' %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Newer >></a>
			{% elsif page.next.categories contains 'photography' %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Newer (Photography) >></a>
			{% else %}
				<span>Newer >></span>
			{% endif %}
		</div>
	</div>
</div>
