---
layout: default
title: Cheng-Cheng DAI
---

<div class="page-content wc-container">
	<div class="post">
		<h1>{{ page.title }}</h1>
		<p class="post-meta">
			{% if page.categories.size > 0 %}
			<span class="categories">
			{{ page.categories | array_to_sentence_string }}
			</span> |
			{% endif %}
			<span class="post-date">
			{{ page.date | date: "%b %-d, %Y" }}
			</span>
		</p>
		<div class="post">
			{{ content }}
		</div>
	</div>

	<!-- for disqus -->
	<!-- div id="disqus_thread"></div -->
	<!-- script>
		var disqus_config = function () {
				this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}";
				this.page.identifier = "{{ page.id }}";
		};
		(function() {
				var d = document, s = d.createElement('script');
				s.src = 'https://mingtang.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
		})();
	</script -->
	<!-- noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript -->
	
	<div class="post-footer">
		<div class="column-1">
			{% if page.previous %}
				<a href="{{page.previous.url | prepend: site.baseurl | prepend: site.url }}"><< Older</a>
			{% else %}
				<span><< Older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }} ">Home</a></div>
		<div class="column-3">
			{% if page.next %}
				<a href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Newer >></a>
			{% else %}
				<span>Newer >></span>
			{% endif %}
		</div>
	</div>
</div>
